.list {
  width: 350px;
  margin:0 auto;
}

.list .item {
  text-align: center;
  margin-bottom: 10px;

  background-color: #0064f8;
  color: white;
}
.btnWrapper {
  margin-top: 10px;
  text-align: center;
}
.loaderStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}